<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset ="utf-8">
    <title>EmailAuth page</title>
</head>
<body style ="margin:0; padding:100px; width:100%; height:100%;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif; background-color: #f7f8fc; font-size:12px; color:#666; line-height:18px;">
    <div id ="wrap" style="width:650px;margin:0 auto ;  border: solid 1px #cfd5eb;">
        <div id ="header" style ="height:60px;position: relative;background: #fff;text-align: center;padding:0 10px; ">
            <h1 style ="margin: 0;border-bottom:1px solid rgba(182, 197, 209, 0.3)">
				<a href="https://maum.ai" target="_blank" title="마음에이아이">
					<img src="https://maum.ai/aiaas/common/images/maumai.png" alt="logo" style="height:32px;margin:0 auto;padding:17px 0 10px;"/>
				</a>
            </h1>
        </div>
        <div id ="container" style ="width:648px;margin:0 auto;">
            <div id ="content" style ="font-size:16px;color: #000;background: #fff;padding: 28px 24px 122px; box-sizing: border-box;text-align: center;">
                <h5 style =" font-size: 18px;font-weight: 600;letter-spacing: -0.26px;text-align: center;color: #14b6cb; margin: 0 0 28px 0;">이메일 인증</h5>	
				<img src ="https://maum.ai/aiaas/common/images/img_email_check.png" alt ="computer image" style ="margin: 0 0 20px 0;width:199px;"/>
                <p style ="font-weight: 500;line-height: 1.71;letter-spacing: -0.4px;text-align: center;color: #34424e;font-size: 14px;margin: 0 0 20px 0;">안녕하세요, 마음AI 입니다.<br>
이메일 인증을 위한 인증코드를 안내해 드립니다.<br>
					<span style="display:block;margin:10px 0 0 0;color: #14b6cb;">인증번호 6자리를 진행중인 화면에 입력해 주세요.</span>
인증번호는 발송된 시점부터 30분간 유효합니다.
				</p>
               
                <p style="width: 392px;height: 50px;margin:0 auto; background-color: rgba(20, 182, 203,0.1); font-size: 20px;font-weight: bold;line-height: 50px;text-align: center;color: #002b49;" th:text="${code}"></p>
            </div>
            <div class ="contact" style ="background: #fff;padding: 0 10px 20px; font-size:13px;">
				<div style="text-align: center;border-top:1px solid rgba(182, 197, 209, 0.3);color: rgba(52, 66, 78, 0.3); padding: 20px 0 0;">
					<a href="https://maum.ai/home/krTermsMain" target="_blank" style="opacity: 0.8;font-family: NotoSansCJKkr;font-size: 13px;letter-spacing: -0.24px;color: #34424e;text-decoration: none">이용약관</a>  ㅣ  
					<a href="https://maum.ai/home/krTermsMain#conditions" target="_blank" style="opacity: 0.8;font-family: NotoSansCJKkr;font-size: 13px;letter-spacing: -0.24px;color: #34424e;text-decoration: none">개인정보처리방침</a>  ㅣ  
					<a href="mailto:hello@mindslab.ai" target="_blank" style="opacity: 0.8;font-family: NotoSansCJKkr;font-size: 13px;letter-spacing: -0.24px;color: #34424e;text-decoration: none">고객센터</a>
				</div>
				<p style="font-size: 13px;letter-spacing: -0.24px;text-align: center;color: #34424e;margin: 10px 0;">Copyright © 2020 주식회사 마인즈랩. All rights reserved.</p>
            </div>
        </div>
    </div>
    
</body>
</html>