<html xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- icon_favicon -->
    <link rel="apple-touch-icon-precomposed" href="/images/ico_maumAI_60x60.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/ico_maumAI_60x60.ico">
    <title>maum.ai platform</title>
    <!-- resources -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <!-- //resources -->

</head>
<body>
<header>
    <a href="https://maum.ai/" title="마음에이아이" target="_self"><img src="/images/maumai.svg" alt="maum.ai logo" /></a>
</header>
<div class="content">
    <img th:if="${!code.equals('404')}" class="errorImg" src="/images/error1.svg" alt="error Image" />
    <p th:if="${!code.equals('404')}">현재 서비스에 일시적인 오류가 발생하였습니다.<br>
        잠시 후 시도해주세요.</p>
    <img th:if="${code.equals('404')}" class="errorImg" src="/images/error2.svg" alt="error Image" />
    <p th:if="${code.equals('404')}">요청하신 페이지를 찾을 수 없습니다.</p>
    <a href="javascript:reload();" title="reload"><em class="fas fa-redo-alt"></em> 새로고침</a>
    <a href="https://maum.ai/" title="home" class="homebtn"><em class="fas fa-home"></em> 홈으로</a>
</div>

<script>
    function reload(){
        window.location.reload()
    }

</script>
</body>
</html>
