<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- icon_favicon -->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico_maumAI_60x60.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_maumAI_60x60.ico}">
    <title>maum.ai | 로그인</title>

    <!-- resources -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122649087-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122649087-4');
    </script>

</head>

<body>
<div id="wrap">
    <header>
        <a href="https://maum.ai/" title="마음에이아이" target="_self"><img src="/images/maumai.svg" alt="maum.ai logo"/></a>
    </header>
    <section id="container">
        <div class="content">
            <form class="loginWrap" method="get" action="">
                <fieldset>
                    <legend>Login</legend>
                    <div class="loginBox">
                        <span>
                            <input type="text" name="ipt_id" id="ipt_id" class="ipt_txt" title="User Name"
                                   placeholder="이메일">
                        </span>
                        <span>
                            <input type="password" name="ipt_pw" id="ipt_pw" class="ipt_txt" title="Password"
                                   placeholder="비밀번호">
                        </span>
                        <span class="checks">
                            <input type="checkbox" name="ipt_check" id="ipt_check" class="ipt_check">
                            <!--<label for="ipt_check"><em class="far fa-check-circle"></em> 로그인 상태 유지</label>-->
                            <!-- [D] 에러일 경우 .txt_error 스크립트로 구현 -->
                            <span class="txt_error">가입하지 않은 이메일이거나, 잘못된 비밀번호 입니다.</span>
                        </span>
                        <span>
                            <a href="javascript:login_maum();" title="로그인" class="homebtn"> 로그인</a>
                        </span>
                        <div class="btn">
                            <a href="javascript:registerUrl();" class="btn_signupt">회원가입 </a><span>&nbsp;|&nbsp;</span>
                            <a href="javascript:passwordMain();" class="btn_forgot">비밀번호 찾기</a>
                            <div class="tooltip">
                                <div class="tooltip_box">
                                    <img src="/images/img_tooltip.png" alt="tooltip Img" />
                                    지금 회원가입 하면, <span>1달 무료!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="or">SNS 간편 로그인 / 회원가입</span>
                </fieldset>
            </form>
            <div class="btn_box">
                <a href="javascript:login_google();" title="구글로그인" class="google_login"> 구글 로그인</a>
                <a href="javascript:login_facebook();" title="페이스북로그인" class="facebook_login">페이스북 로그인</a>
            </div>


        </div>
    </section>
    <div th:insert="/login/common/footer.html"></div>
</div>

<script type="text/javascript">

    let response_type = "[[${response_type}]]";
    let client_id = "[[${client_id}]]"; // Ex) maum.ai-dev
    let redirect_uri = "[[${redirect_uri}]]"; // Ex) https://dev-common.maum.ai/oauth/callback
    let state = "[[${state}]]"; // Ex) aaa340bd-17e4-4f7b-9c52-07cfac2f56ba

    $(document).ready(function () {
        checkState();
    });

    /* state 값 검사 및 새로운 state로 redirect */
    function checkState() {

        let formData = new FormData();
        formData.append('state', state);
        formData.append($("#key").val(), $("#value").val());

        $.ajax({
            type: "POST",
            async: true,
            url: '/maum/checkState',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(result){

                console.log(result);

                if(result == false) {

                    let uuid = createUUID();
                    location.href = "/maum/loginMain?response_type=" + response_type + "&client_id=" + client_id + "&redirect_uri=" + redirect_uri + "&state=" + uuid;
                }
            },
            error: function(error){
                alert("Error");
                console.dir(error);
                window.location.reload();
            }
        });
    }

    /* 회원가입 service url 설정 */
    function registerUrl() {
        location.href = "/maum/agreeMain?redirect_uri=" + redirect_uri;
    }

    /* 비밀번호 찾기 */
    function passwordMain() {
        location.href = "/maum/passwordMain?response_type=" + response_type
                    + "&client_id=" + client_id + "&redirect_uri=" + redirect_uri + "&state=" + state;
    }

    /* 자체 로그인 */
    function login_maum() {

        let email = $('#ipt_id').val();
        let password = $('#ipt_pw').val();

        var formData = new FormData();

        formData.append('email', email);
        formData.append('userPw', password);
        formData.append('response_type', response_type);
        formData.append('client_id', client_id);
        formData.append('redirect_uri', redirect_uri);
        formData.append('state', state);
        formData.append($("#key").val(), $("#value").val());

        $.ajax({
            type: "POST",
            async: true,
            url: '/maum/oauth/authorize',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(result){

                console.log(result);

                if(result.code == 200) {
                    location.href = result.data.return_uri;
                } else {
                    alert("계정 정보를 확인해주세요.");
                }
            },
            error: function(error){
                alert("Error");
                console.dir(error);
                window.location.reload();
            }
        });
    }

    /* 구글 로그인 */
    function login_google() {

        location.href = "/sso/oauth/authorize?" +
            "response_type=code" +
            "&client_id=" + client_id + // 사용자에게 받는 client_id
            "&redirect_uri=" + redirect_uri + // 사용자에게 받는 redirect url
            "&scope=read_profile" +
            "&state=" + state;
    }

    /* 페이스북 로그인 */
    function login_facebook() {

        location.href = "/facebook/oauth/authorize?" +
            "response_type=code" +
            "&client_id=" + client_id + // 사용자에게 받는 client_id
            "&redirect_uri=" + redirect_uri + // 사용자에게 받는 redirect url
            "&scope=read_profile" +
            "&state=" + state;
    }

    function createUUID() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    $(document).ready(function () {
        // input 초기화
        $('.ipt_txt').each(function () {
            $(this).val('');
            $('#ipt_id').focus();
        });
        //footer 언어 체크
        $('.lang_select').on('click', function () {
            $(this).next().toggleClass('active');
        })
    });
</script>
</body>
</html>

