<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- icon_favicon -->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico_maumAI_60x60.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_maumAI_60x60.ico}">
    <title>maum.ai | 로그인</title>

    <!-- resources -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122649087-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122649087-4');
    </script>

</head>

<body>
<div id="wrap">
    <header>
        <a href="https://maum.ai/" title="마음에이아이" target="_self"><img src="/images/maumai.svg" alt="maum.ai logo"/></a>
    </header>
    <section id="container">
        <div class="content">
            <div class="passwordWrap">
                <div class="passwordBox">
                    <h5 class="password_tit">비밀번호 찾기</h5>
                    <p>가입한 이메일 주소를 입력해 주세요.</p>
                    <div class="email_type">
                        <label for="email"></label>
                        <input type="email" id="email" value="">
                        <a class="email_send" href="#none" title="결제정보 등록하기">보내기</a>
                    </div>
                    <div class="code_box">
                        <label for="code" style="display: none"></label>
                        <input type="number" name="code" id="code" class="" value="" placeholder="인증 코드 입력">
                        <em class="count">30분 00초</em>
                        <button class="email_code" type="button" id="email_code">확인</button>
                        <span class="email" id="code_noti">인증이 성공했습니다.</span>
                    </div>
                    <div class="login_btn">
                        <a id="completeChangePW" title="로그인">로그인</a>
                    </div>
                    <div class="passwordChangeBox">
                        <h5>비밀번호 변경</h5>
                        <label for="password">새 비밀번호</label>
                        <input type="password" id="password" value="">
                        <span class="noti">*8~12자리 영문,숫자 포함</span>
                        <label for="passwordCheck">새 비밀번호 재확인</label>
                        <input type="password" id="passwordCheck" value="">
                        <span class="error password">비밀번호가 일치하지 않습니다.</span>
                        <a class="passwordChange" href="#none" title="비밀번호 변경">비밀번호 변경</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div th:insert="/login/common/footer.html"></div>
</div>
<script>

    let sso_url = "[[${sso_url}]]";
    let response_type = "[[${response_type}]]";
    let client_id = "[[${client_id}]]";
    let redirect_uri = "[[${redirect_uri}]]";
    let state = "[[${state}]]";

    // 이메일 인증 여부 변수
    let certFlag = false;

    // Timer 관련 변수
    var tid;
    var SetTime = 1800;		// 최초 설정 시간(기본 : 초)

    $(document).ready(function () {
        // 페이지 초기화
        resetPasswordMainPage();

        /* 비밀번호 변경 이메일 보내기 버튼 */
        $('.email_send').on('click', function () {
            resetTimer();
            let email = $('#email').val();
            $('.email_send').text('보내기');

            SetTime = 1800;

            // 이메일 유효성 검사
            if(validateEmail(email) == true) {
                // 존재하는 회원인지 확인 (maum.ai user_t, SSO_USER 확인)
                if(checkPwEmail(email) == true) {

                    $('.email_type').hide();
                    changeTitle('비밀번호 변경 인증 코드');
                    changeSubTitle('입력하신 메일 주소로 발송한 인증코드를 입력해주세요.');
                    sendCertMail(email);
                    tid = setInterval('msg_time()', 1000);  // 1초 간격으로 타이머 실행

                    $('.code_box').fadeIn();

                } else {
                    alert("존재하지 않는 계정입니다. 입력하신 내용을 확인해주세요.");
                }

            } else {
                alert("이메일 형식이 올바르지 않습니다. 입력하신 내용을 확인해주세요.");
            }
        });

        /* 비밀번호 이메일 코드 입력 */
        $(".email_code").on('click', function () {

            let userEmail = $('#email').val();
            let code = $('#code').val();

            $('#email_code').removeClass('error');
            let checkCodeResult = checkCertCode(userEmail, code);

            if(checkCodeResult === 200) {
                certFlag = true;
                $('.passwordChangeBox').fadeIn();
                showCodeNoti("인증에 성공했습니다.");
                resetTimer();
                $('.count').fadeOut().css('display', 'none');
                $('#code').css('readonly', true);
            } else if (checkCodeResult === 504) {
                $('#email_code').addClass('error');
                showCodeNoti('인증 시간이 만료되었습니다.');
            } else {
                $('#code_noti').fadeIn().addClass('error').text('코드 번호를 다시 확인해주세요.');
            }
        })

        /* 비밀번호 체크 */
        $('#password').keyup(function () {
            $(this).removeClass('error');
            $('.noti').removeClass('error');
            $('.password').hide();
        });

        /* 비밀번호 재확인 체크 */
        $('#passwordCheck').on('input keyup paste', function () {
            var password = $('#password').val();
            var password_check = $('#passwordCheck').val();
            if (password_check.length > 0) {
                if (password !== password_check) {
                    $('.password').css('display', 'block').addClass('error');
                } else {
                    $('.password').hide();
                }
            } else {
                $('.password').hide();
            }
        });


        /* 최종 비밀번호 변경 버튼 */
        $(".passwordChange").on('click', function () {

            let userEmail = $('#email').val();

            //비밀번호 유효성 체크
            var pw = $("#password").val();
            var num = pw.search(/[0-9]/g);
            var eng = pw.search(/[a-z]/ig);

            if(certFlag == false) {
                alert("이메일 인증을 진행해주세요.");
                return false;
            } else if (pw.length < 8 || pw.length > 12) {
                showPasswordNoti("비밀번호는 8자리 ~ 12자리로 입력해주세요.");
                return false;
            } else if (pw.search(/\s/) != -1) {
                showPasswordNoti("비밀번호는 공백 없이 입력해주세요.");
                return false;
            } else if (num < 0 || eng < 0) {
                showPasswordNoti("영문, 숫자를 혼합하여 입력해주세요.");
                return false;
            } else if ( $("#password").val() != $('#passwordCheck').val() ) {
                showPasswordNoti("비밀번호와 비밀번호 재확인 값이 일치하지 않습니다.");
                return false;
            } else {
                changePW(userEmail, pw);
                return true;
            }
        })

        /* 비밀번호 변경 후, 로그인 버튼 클릭 이벤트 */
        $('#completeChangePW').on('click', function () {
            location.href = sso_url + "/maum/loginMain?"
                + "response_type=" + response_type + "&client_id=" + client_id
                + "&redirect_uri=" + redirect_uri + "&state=" + state;
        });

        /* footer 언어 체크 */
        $('.lang_select').on('click', function() {
            $(this).next().toggleClass('active');
        })
    });

    /** ------------------------------------------------------------------------------------------------------------ */
    /** 화면 공통 기능 정의 */
    /** ------------------------------------------------------------------------------------------------------------ */
    function resetPasswordMainPage() {
        certFlag = false;

        $('.email_send').text('보내기');
        $('.email').val("");

        $('.email_type').css('display', 'block');
        $('.code_box').css('display', 'none');
        $('.login_btn').css('display', 'none');
        $('.passwordChangeBox').css('display', 'none');
        $('#code_noti').css('display', 'none');

        $('.code').attr('readonly', false);
        $('.code').css('background-color', '#FFFFFF');
        $('#code_noti').removeClass('error');

        changeTitle('비밀번호 찾기');
        changeSubTitle('가입한 이메일 주소를 입력해 주세요.');

        resetTimer();
    }

     function changeTitle(str) {
         $(".password_tit").text(str);
     }

     function changeSubTitle(str) {
         $(".passwordBox p").text(str);
     }

     function showCodeNoti(str) {
         $('#code_noti').text(str);
         $('#code_noti').css('display', 'block');
     }

     function showPasswordNoti(str) {
         var pw_input = $("#password");

         alert(str);

         $('.noti').addClass('error');
         $('#passwordCheck').val('');
         pw_input.addClass('error');
     }

    /* 메일 인증 타이머 화면 설정 */
    function msg_time() {
        SetTime--;  // 1초씩 감소

        m = Math.floor(SetTime / 60) + "분 " + (SetTime % 60) + "초";	// 남은 시간 계산
        var msg = m;

        $('.count').text(msg);

        if (SetTime < 0) {			// 시간 만료 시,
            clearInterval(tid);		// 타이머 해제
            alert("인증 시간이 만료되었습니다. 다시 인증해주세요.");
            resetTimer();

            $('.code_box').css('display', 'none');
        }
    }

    function resetTimer() {
        SetTime = 1800;

        m = Math.floor(SetTime / 60) + "분 " + (SetTime % 60) + "초";	// 남은 시간 계산
        var msg = m;
        $('.count').text(msg);

        clearInterval(tid);		// 타이머 해제
    }


    /** ------------------------------------------------------------------------------------------------------------ */
    /** 기능 정의 */
    /** ------------------------------------------------------------------------------------------------------------ */
    /* 메일 주소 유효성 검사 */
    function validateEmail(email) {
        var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (filter.test(email)) {
            return true;
        } else {
            return false;
        }
    }

    /* 가입했던 이메일인지 확인 */
    function checkPwEmail(email) {

        let formData = new FormData();
        formData.append('email', email);
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        var returnVal = '';

        $.ajax({
            type: "post",
            async: false,
            url: "/maum/checkPwEmail",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (result) {
                returnVal = result;
            },
            error: function (xhr, status, error) {

                console.log("fail");
                console.log(xhr);
                console.log(status);
                console.log(error);
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
        return returnVal;
    }

    /* 사용자에게 인증 코드 메일 전송 */
    function sendCertMail(email) {

        var formData = new FormData;
        formData.append('email', email);
        formData.append('type', 'password');
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            async: true,
            url: "/maum/sendCertMail",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                //console.log("SUCCESS - send mail");
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
    }

    /* 인증 코드와 메일 주소를 DB 정보와 비교 */
    function checkCertCode(email, code) {

        let returnVal;
        let formData = new FormData;
        formData.append('email', email);
        formData.append('code', code);
        formData.append('type', 'password');
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            url: "/maum/checkCertCode",
            data: formData,
            async: false,
            processData: false,
            contentType: false,
            success: function (result) {
                returnVal = result.code;
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
        return returnVal;
    }

    /* 비밀번호 변경 요청(DB 수정) */
    function changePW(email, newPassword) {
        let formData = new FormData();
        formData.append('email', email);
        formData.append('newPassword', newPassword);
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            url: "/maum/changePW",
            data: formData,
            async: false,
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);

                changeTitle('비밀번호 변경 완료');
                changeSubTitle('비빌번호 변경이 완료 되었습니다.');
                $('.code_box').hide();
                $('.passwordChangeBox').hide();
                $('.login_btn').fadeIn();
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
    }

</script>
</body>
</html>