<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- icon_favicon -->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico_maumAI_60x60.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_maumAI_60x60.ico}">
    <title>maum.ai | 로그인</title>

    <!-- resources -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122649087-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122649087-4');
    </script>

</head>

<body>
<div id="wrap">
    <header>
        <a href="https://maum.ai/" title="마음에이아이" target="_self"><img src="/images/maumai.svg" alt="maum.ai logo"/></a>
    </header>
    <section id="container">
        <div class="content registrationContent">
            <div class="signUpCompleteWrap">
                <p class="regist_noti">마음 AI 서비스 이용을 위해서는 결제 수단을 등록 하셔야 서비스 이용이 가능합니다.<br>
                    체험을 위해서 모든 고객은 <strong>첫달 무료</strong>이며, 결제수단을 등록해도 1달 동안 요금이 청구되지 않습니다.<br>
                    결제수단을 등록하여 더욱 편리하게 서비스를 이용해보세요.</p>
                <div class="signUpCompleteBox">
                    <h1>첫 1달 무료!</h1>
                    <p>결제 수단을 등록해도 1달 동안 요금이 청구되지 않습니다.</p>
                    <a class="registration" href="#none" title="결제정보 등록하기">결제수단 등록하기</a>
                </div>
            </div>
            <div class="paymentConfirmWrap ">
                <div class="paymentConfirmBox">
                    <h5>결제수단 등록이 완료 되었습니다.</h5>
                    <p>마음 AI의 모든 서비스를 마음껏 이용하세요.</p>
                </div>
                <div class="btn">
                    <a href="/maum/login">로그인</a>
                    <a HREF="/webapp">메인으로 이동</a>
                </div>
            </div>
        </div>
    </section>
    <div th:insert="/login/common/footer.html"></div>
</div>
<script>

    jQuery.event.add(window, "load", function () {
        $(document).ready(function () {

            //결제 카드 등록하기 버튼
            $('.registration').on('click', function () {
                $('.signUpCompleteWrap').hide();
                $('.paymentConfirmWrap').fadeIn();
            });

            //footer 언어 체크
            $('.lang_select').on('click', function () {
                $(this).next().toggleClass('active');
            })

        });
    });
</script>
</body>
</html>
