<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- icon_favicon -->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico_maumAI_60x60.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_maumAI_60x60.ico}">
    <title>maum.ai | 로그인</title>

    <!-- resources -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122649087-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122649087-4');
    </script>

</head>

<body>
<div id="wrap">
    <header>
        <a href="https://maum.ai/" title="마음에이아이" target="_self"><img src="/images/maumai.svg" alt="maum.ai logo"/></a>
    </header>
    <section id="container">
        <div class="content">
            <div class="signUpWrap">
                <div class="signUpBox">
                    <form id="memberForm" name="memberForm" method="post">
                        <fieldset>
                            <legend>sign up form</legend>
                            <div class="input_box">
                                <div class="input_txt">
                                    <div class="email_box">
                                        <label for="email">이메일</label>
                                        <input type="email" name="Email" id="email" class="" value="">
                                        <button type="button" id="email_auth">이메일 인증</button>
                                        <span class="email" id="email_noti">이미 사용중인 이메일입니다.</span>
                                    </div>
                                    <div class="code_box">
                                        <label for="code" style="display: none"></label>
                                        <input type="number" name="code" id="code" class="" value=""
                                               placeholder="인증 코드 입력">
                                        <em class="count">30분 00초</em>
                                        <button type="button" id="email_code">확인</button>
                                        <span class="email" id="code_noti">인증이 성공했습니다.</span>
                                    </div>
                                </div>
                                <div class="input_txt">
                                    <label for="password">비밀번호</label>
                                    <input type="password" name="password" id="password" class="" value="">
                                    <span class="noti">* 8~12자 영문, 숫자 포함</span>
                                </div>
                                <div class="input_txt">
                                    <label for="passwordCheck">비밀번호 재확인</label>
                                    <input type="password" name="passwordCheck" id="passwordCheck" class="" value="">
                                    <span class="error password">비밀번호가 일치하지 않습니다.</span>
                                </div>
                                <div class="input_txt">
                                    <label for="name">이름</label>
                                    <input type="text" name="name" id="name" class="" value="">
                                </div>
                                <div class="input_txt">
                                    <label for="phone">연락처</label>
                                    <input type="tel" name="companyEmail" id="phone" class="" value="">
                                </div>
                                <div class="input_txt">
                                    <label for="companyEmail">회사/소속</label>
                                    <input type="text" name="companyEmail" id="companyEmail" class="" value="">
                                </div>

                            </div>
                            <div class="select_form">
                                <span>가입 경로</span>
                                <div class="selectarea">
                                      <span class="checks">
                                            <input type="checkbox" name="registerPath" id="1" class="ipt_check"
                                                   value="포털 검색">
                                            <label for="1"><em class="far fa-check-circle"></em> 포털 검색</label>
                                     </span>
                                    <span class="checks">
                                            <input type="checkbox" name="registerPath" id="2" class="ipt_check"
                                                   value="세미나, 전시회">
                                            <label for="2"><em class="far fa-check-circle"></em> 세미나, 전시회</label>
                                     </span>
                                    <span class="checks">
                                            <input type="checkbox" name="registerPath" id="3" class="ipt_check"
                                                   value="영업사원">
                                            <label for="3"><em class="far fa-check-circle"></em> 영업사원</label>
                                     </span>
                                </div>
                                <div class="selectarea">
                                    <span class="checks">
                                            <input type="checkbox" name="registerPath" id="4" class="ipt_check"
                                                   value="광고, 홍보물">
                                            <label for="4"><em class="far fa-check-circle"></em> 광고, 홍보물</label>
                                     </span>
                                    <span class="checks">
                                            <input type="checkbox" name="registerPath" id="5" class="ipt_check"
                                                   value="관련 기사">
                                            <label for="5"><em class="far fa-check-circle"></em> 관련 기사</label>
                                     </span>
                                </div>
                            </div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        </fieldset>
                    </form>
                    <a href="#none" class="signupBtn" title="가입하기" target="_self">가입하기</a>
                </div>
            </div>
        </div>
    </section>
    <div th:insert="/login/common/footer.html"></div>
</div>

<script type="text/javascript">
    let redirect_uri = "[[${redirect_uri}]]";

    // 이메일 인증 여부 변수
    let certFlag = false;

    // Timer 관련 변수
    var tid;
    var SetTime = 1800;		// 최초 설정 시간(기본 : 초)

    $(document).ready(function () {
        if(window.innerHeight <= 937){
            $('footer').css('position', 'relative');
        }

        // 페이지 초기화
        resetSignUpPage();

        /* 이메일 인증 */
        $('#email_auth').on('click', function () {
            resetSendBtn();
            $('#email_auth').text('재전송');

            SetTime = 1800;
            $('#code_noti').css('display', 'none');

            let userEmail = $('#email').val();

            // 이메일 유효성 체크
            if (validateEmail(userEmail) == true) {

                // 이메일 중복 체크 (maum.ai user_t 검사 후, SSO user_t 검사)
                if (checkUserEmail(userEmail) === true) {
                    $('.code_box').fadeIn();
                    $('#email_noti').removeClass('error');
                    showEmailNoti('인증 코드가 메일로 발송되었습니다.');

                    sendCertMail(userEmail);
                    tid = setInterval('msg_time()', 1000);  // 1초 간격으로 타이머 실행
                } else {
                    $('#email_noti').addClass('error');
                    showEmailNoti('이미 사용중인 이메일입니다.');
                }
            } else {
                $('#email_noti').addClass('error');
                showEmailNoti('유효하지 않은 이메일입니다.');
            }
        });

        /* 코드 인증 */
        $('#email_code').on('click', function () {

            let userEmail = $('#email').val();
            let code = $('#code').val();

            let checkCodeResult = checkCertCode(userEmail, code);

            if (checkCodeResult === 200) {   // 인증 성공
                certFlag = true;

                showCodeNoti('인증에 성공했습니다.');
                resetTimer();
                $('.count').fadeOut().css('display', 'none');

                inputBoxReadOnly();

            } else if (checkCodeResult === 504) {   // Timeout
                showCodeNoti('인증 시간이 만료되었습니다.');
                $('#code_noti').addClass('error');
                resetTimer();

            } else {    // 인증 실패
                showCodeNoti('인증에 실패했습니다.');
                $('#code_noti').addClass('error');
            }
        });

        /* 비밀번호 체크 */
        $('#password').keyup(function () {
            $(this).removeClass('error');
            $('.password').hide();
        });

        /* 비밀번호 재확인 체크 */
        $('#passwordCheck').on('input keyup paste', function () {
            var password = $('#password').val();
            var password_check = $('#passwordCheck').val();
            if (password_check.length > 0) {
                if (password !== password_check) {
                    $('.password').css('display', 'block').addClass('error');
                } else {
                    $('.password').hide();
                }
            } else {
                $('.password').hide();
            }
        });

        /* 가입하기 버튼 */
        $(".signupBtn").on('click', function () {

            let userEmail = $('#email').val();
            let code = $('#code').val();
            let password = $('#password').val();
            let userName = $('#name').val();
            let regiPath = registerPath();
            let phone = $('#phone').val();
            let company = $('#companyEmail').val();

            console.log(regiPath);

            //비밀번호 유효성 체크
            var pw = $("#password").val();
            var num = pw.search(/[0-9]/g);
            var eng = pw.search(/[a-z]/ig);

            if(certFlag == false) {
                alert("이메일 인증을 진행해주세요.");
                return false;
            } else if (pw.length < 8 || pw.length > 12) {
                showPasswordNoti("비밀번호는 8자리 ~ 12자리로 입력해주세요.");
                return false;
            } else if (pw.search(/\s/) != -1) {
                showPasswordNoti("비밀번호는 공백 없이 입력해주세요.");
                return false;
            } else if (num < 0 || eng < 0) {
                showPasswordNoti("영문, 숫자를 혼합하여 입력해주세요.");
                return false;
            } else if (password != $('#passwordCheck').val() ) {
                showPasswordNoti("비밀번호와 비밀번호 재확인 값이 일치하지 않습니다.");
                return false;
            } else {
                //$('.signUpWrap').hide();
                //$('.signUpCompleteWrap').fadeIn();
                //return true;

                marketingAgree = "[[${marketingAgree}]]";
                //console.log(marketingAgree);
                registerUser(userEmail, code, password, userName, phone, company, regiPath, marketingAgree.toString());
            }
        });

        /* 결제 카드 등록하기 버튼 */
        $('.registration').on('click', function () {
            $('.signUpCompleteWrap').hide();
            $('.paymentConfirmWrap').fadeIn();
        });

        /* footer 언어 체크 */
        $('.lang_select').on('click', function () {
            $(this).next().toggleClass('active');
        })
    });

    /** ------------------------------------------------------------------------------------------------------------ */
    /** 화면 공통 기능 정의 */
    /** ------------------------------------------------------------------------------------------------------------ */
    function resetSignUpPage() {
        certFlag = false;

        $('#email_auth').text('이메일 인증');

        $('#email').val("");
        $('#code').val("");
        $('#password').val("");
        $('#passwordCheck').val("");
        $('#name').val("");
        $('#phone').val("");
        $('#companyEmail').val("");

        $('#email_noti').css('display', 'none');
        $('#code_noti').css('display', 'none');

        $('#email').attr('readonly', false);
        $('#code').attr('readonly', false);

        $('#email').css('background-color', '#FFFFFF');
        $('#code').css('background-color', '#FFFFFF');

        resetTimer();
    }

    function resetSendBtn() {
        $('#code').val("");

        $('#email').attr('readonly', false);
        $('#code').attr('readonly', false);

        $('#email').css('background-color', '#FFFFFF');
        $('#code').css('background-color', '#FFFFFF');

        $('#email_noti').removeClass('error');
        $('#code_noti').removeClass('error');

        resetTimer();
    }

    function showEmailNoti(str) {
        $('#email_noti').text(str);
        $('#email_noti').fadeIn().css('display', 'block');
    }

    function showCodeNoti(str) {
        $('#code_noti').text(str);
        $('#code_noti').fadeIn().css('display', 'block');
    }

    function inputBoxReadOnly() {
        $('#email').attr('readonly', true);
        $('#code').attr('readonly', true);

        $('#email').css('background-color', '#E4E4E4');
        $('#code').css('background-color', '#E4E4E4');
    }

    function showPasswordNoti(str) {
        var pw_input = $("#password");

        alert(str);
        $('.noti').addClass('error');
        $('#passwordCheck').val('');
        pw_input.addClass('error');
    }

    /* 메일 인증 타이머 화면 설정 */
    function msg_time() {
        SetTime--;  // 1초씩 감소

        m = Math.floor(SetTime / 60) + "분 " + (SetTime % 60) + "초";	// 남은 시간 계산
        var msg = m;

        $('.count').text(msg);

        if (SetTime < 0) {			// 시간 만료 시,
            clearInterval(tid);		// 타이머 해제
            alert("인증 시간이 만료되었습니다. 다시 인증해주세요.");
            resetTimer();

            $('#email_noti').css('display', 'none');
            $('.code_box').css('display', 'none');
        }
    }

    function resetTimer() {
        SetTime = 1800;

        m = Math.floor(SetTime / 60) + "분 " + (SetTime % 60) + "초";	// 남은 시간 계산
        var msg = m;
        $('.count').text(msg);

        clearInterval(tid);		// 타이머 해제
    }


    /** ------------------------------------------------------------------------------------------------------------ */
    /** 기능 정의 */
    /** ------------------------------------------------------------------------------------------------------------ */
    /* 메일 주소 유효성 검사 */
    function validateEmail(email) {
        var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (filter.test(email)) {
            return true;
        } else {
            return false;
        }
    }

    /* 메일 주소 체크 - maum.ai user_t table & SSO USER table */
    function checkUserEmail(email) {

        let formData = new FormData();
        formData.append('email', email);
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        var returnVal = '';

        $.ajax({
            type: "post",
            async: false,
            url: "/maum/checkUserEmail",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (result) {
                returnVal = result;
            },
            error: function (xhr, status, error) {

                console.log("fail");
                console.log(xhr);
                console.log(status);
                console.log(error);
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
        return returnVal;
    }

    /* 사용자에게 인증 코드 메일 전송 */
    function sendCertMail(email) {

        var formData = new FormData;
        formData.append('email', email);
        formData.append('type', 'register');
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            async: true,
            url: "/maum/sendCertMail",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                //console.log("SUCCESS - send mail");
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
    }

    /* 인증 코드와 메일 주소를 DB 정보와 비교 */
    function checkCertCode(email, code) {

        let returnVal;
        let formData = new FormData;
        formData.append('email', email);
        formData.append('code', code);
        formData.append('type', 'register');
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            url: "/maum/checkCertCode",
            data: formData,
            async: false,
            processData: false,
            contentType: false,
            success: function (result) {
                returnVal = result.code;
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
        return returnVal;
    }

    /* 회원 가입 요청(DB 등록) */
    function registerUser(email, code, password, name, phone, company, registerPath, marketingAgree) {
        let formData = new FormData();
        formData.append('email', email);
        formData.append('code', code);
        formData.append('password', password);
        formData.append('name', name);
        formData.append('phone', phone);
        formData.append('company', company);
        formData.append('registerPath', registerPath);
        formData.append('marketingAgree', marketingAgree);
        formData.append('${_csrf.parameterName}', '${_csrf.token}');

        $.ajax({
            type: "post",
            url: "/maum/registerUser",
            data: formData,
            async: false,
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);

                if(result.code != 200) {
                    alert(result.msg);
                } else {

                    let form = document.createElement('form');
                    let objsEmail = document.createElement('input');
                    let objsName = document.createElement('input');
                    let objsRedirectUri = document.createElement('input');

                    objsEmail.setAttribute('type', 'hidden');
                    objsEmail.setAttribute('name', 'email');
                    objsEmail.setAttribute('value', email);

                    objsName.setAttribute('type', 'hidden');
                    objsName.setAttribute('name', 'name');
                    objsName.setAttribute('value', name);

                    objsRedirectUri.setAttribute('type', 'hidden');
                    objsRedirectUri.setAttribute('name', 'redirect_uri');
                    objsRedirectUri.setAttribute('value', redirect_uri);

                    form.appendChild(objsEmail);
                    form.appendChild(objsName);
                    form.appendChild(objsRedirectUri);
                    form.setAttribute('method', 'post');
                    form.setAttribute('action', "/maum/signUpCompleteMain");
                    document.body.appendChild(form);
                    form.submit();
                }
            },
            error: function (xhr, status, error) {
                console.log("fail");
                alert("서버와의 통신이 원할하지 않습니다. 잠시 후 다시 시도해주세요.");
            }
        });
    }

    /* 가입 경로 문장으로 취합 */
    function registerPath() {
        let result = "";
        let obj = document.getElementsByName("registerPath");

        for (var i = 0; i < obj.length; i++) {
            if ($('#' + (i + 1)).is(":checked") === true) {
                if (result === "")
                    result = $('#' + (i + 1)).val();
                else
                    result = result + ", " + $('#' + (i + 1)).val();
            }
        }
        return result;
    }

</script>
</body>
</html>

