<footer>
    <div class="footer">
        <a href="https://maum.ai/home/krTermsMain" target="_blank">이용약관 </a> ㅣ
        <a href="https://maum.ai/home/krTermsMain#conditions" target="_blank"> 개인정보처리방침 </a> ㅣ
        <a href="https://maum.ai/inquiry" target="_blank"> 고객센터 </a>
        <span>ㅣ</span>
        <div class="lang">
            <span class="lang_select">한국어 <em class="fas fa-chevron-up"></em></span>
            <ul>
                <li class="active">한국어</li>
                <li><a href="https://maum.ai/?lang=en" target="_blank">English</a></li>
            </ul>
        </div>
    </div>
    <p>Copyright © 2020 주식회사 마인즈랩. All rights reserved.</p>
    <div class="m_lang">한국어 <a href="" title="English">English</a></div>
</footer>

